body{
    background: rgb(34,193,195);
    background:linear-gradient(0deg,rgba(34,193,195,1) 0%,rgba(121,32,153,1) 86%) ;
    background-attachment: fixed;
    margin: 0;
    height: 900px;

}

#form{
    width: 400px;
    margin-top: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
    margin: 420px;
    height: 750px;
    margin-top: 20px;

}

h1{
    text-align: center;
    color: purple;
}

#form button{
    background-color: purple;
    color: white;
    border: 1px solid purple;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(34,193,195);
}

.input-group input:focus{
    outline: 0;
}

.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
 
.input-group.success input{
    border-color: green;
}

.input-group.error input{
    border-color: red;
}

small{
    color: red;
}

label{
    font-weight: bolder;
    font-size: 17px;
}